cart-items .title-wrapper-with-link {
  @apply mt-0;
}

.cart-items td,
.cart-items th {
  @apply border-none p-0;
}

.cart-items th {
  @apply pb-7 text-left font-normal opacity-85;
}

.cart-item__quantity-wrapper {
  @apply flex;
}

.cart-item__totals {
  @apply relative;
}

.cart-items *.right {
  @apply text-right;
}

.cart-item__image-container {
  @apply inline-flex items-start;
}

.cart-item__nested-line .cart-item__image-container {
  @apply min-w-[calc(10rem/var(--font-body-scale))] justify-end;
  img {
    @apply w-[60%];
  }
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  @apply h-auto max-w-[calc(10rem/var(--font-body-scale))];
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    @apply max-w-full;
  }
}

.cart-item__details {
  @apply text-base leading-[calc(1+0.4/var(--font-body-scale))];
}

.cart-item__details > * {
  @apply m-0 max-w-[30rem];
}

.cart-item__details > * + * {
  @apply mt-2.5;
}

.cart-item__media {
  @apply relative;
}

.cart-item__link {
  @apply absolute inset-0 block h-full w-full;
}

.cart-item__name {
  @apply block no-underline;
}

.cart-item__name:hover {
  @apply underline decoration-[0.2rem] underline-offset-[0.3rem];
}

.cart-item__price-wrapper > * {
  @apply m-0 block p-0;
}

.cart-item__discounted-prices dd {
  @apply m-0;
}

.cart-item__discounted-prices .cart-item__old-price {
  @apply text-sm;
}

.cart-item__old-price {
  @apply opacity-70;
}

.cart-item__final-price {
  @apply font-normal;
}

.product-option {
  @apply text-sm leading-[calc(1+0.5/var(--font-body-scale))] break-words;
}

.cart-item cart-remove-button {
  @apply ml-4 flex;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    @apply h-[4.5rem] w-[4.5rem];
  }
}

cart-remove-button .button {
  @apply m-0 min-h-[4.5rem] min-w-[calc(4.5rem/var(--font-body-scale))] p-0;
}

cart-remove-button .button:before,
cart-remove-button .button:after {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    @apply min-h-[3.5rem] min-w-[3.5rem];
  }
}

cart-remove-button .icon-remove {
  @apply h-6 w-6;
}

.cart-item .loading__spinner {
  @apply top-0 right-auto bottom-0 left-auto p-0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading__spinner {
    @apply right-0 bottom-auto pt-[4.5rem];
  }
}

.cart-item .loading__spinner:not(.hidden) ~ * {
  @apply invisible;
}

.cart-item__error {
  @apply mt-1 flex w-min min-w-full items-start;
}

.cart-item__error-text {
  @apply order-1 text-[1.3rem] leading-[1.4] tracking-[0.04rem];
}

.cart-item__error-text + .svg-wrapper {
  @apply mt-1 mr-3 h-6 w-6 flex-shrink-0;
}

.cart-item__error-text:empty + .svg-wrapper {
  @apply hidden;
}

.product-option + .product-option {
  @apply mt-1.5;
}

.product-option * {
  @apply m-0 inline;
}

.cart-items thead th {
  @apply uppercase;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    @apply block w-full;
  }

  .cart-items thead tr {
    @apply mb-16 flex justify-between border-b border-[rgba(var(--color-foreground),0.2)];
  }

  .cart-item {
    @apply mb-14 grid grid-cols-4 gap-6;
    grid-template-rows: repeat(2, auto);
  }

  .cart-item:has(+ .cart-item__nested-line) {
    @apply mb-6;
  }

  .cart-item:last-child {
    @apply mb-0;
  }

  .cart-item__media {
    @apply row-span-2;
  }

  .cart-item__details {
    @apply col-span-2 col-start-2;
  }

  .cart-item__quantity {
    @apply col-span-3 col-start-2;
  }

  .cart-item__quantity-wrapper {
    @apply flex-wrap;
  }

  .cart-item__totals {
    @apply flex items-start justify-end;
  }
}

@media screen and (min-width: 750px) {
  .cart-items {
    @apply table w-full border-separate shadow-none;
    border-spacing: 0;
  }

  .cart-items th {
    @apply border-b border-[rgba(var(--color-foreground),0.08)];
  }

  .cart-items thead th:first-child {
    @apply w-1/2;
  }

  .cart-items th + th {
    @apply pl-16;
  }

  .cart-items td {
    @apply pt-16 align-top;
  }

  .cart-items .cart-item__nested-line td {
    @apply pt-4;
  }

  .cart-item {
    @apply table-row;
  }

  .cart-item > td + td {
    @apply pl-16;
  }

  .cart-item__details {
    @apply w-[35rem];
  }

  .cart-item__media {
    @apply w-40;
  }

  .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
    @apply mt-4;
  }

  .cart-item__error {
    @apply ml-1;
  }
}

@media screen and (min-width: 990px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    @apply pl-24;
  }

  .cart-item__details {
    @apply w-[50rem];
  }

  .cart-items thead th:first-child {
    @apply w-[60%];
  }
}

@media screen and (min-width: 750px) {
  .cart-items .cart-items__heading--quantity,
  .cart-item .cart-item__quantity,
  .cart-item__quantity--info quantity-popover > * {
    @apply pl-20;
  }

  .cart-item .cart-item__quantity--info,
  .cart-item__quantity--info .cart-item__quantity-wrapper,
  .cart-item__quantity--info .cart-items__info {
    @apply pl-0;
  }
}

@media screen and (max-width: 989px) {
  .cart-items .quantity-popover__info-button {
    @apply pl-0;
  }
}
