@import "tailwindcss" source(none);

/* scan liquid files */
@source "../../layout/*.liquid";
@source "../../sections/*.liquid";
@source "../../snippets/*.liquid";

@theme {
  --color-brand: #121212;
}

[x-cloak] {
  display: none !important;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer components {
  a {
    @apply cursor-pointer;
  }
}
